 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-light-bg);
    color: var(--color-dark-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}
html {
  scroll-behavior: smooth;
}